<html>
    <head>
        <title>Ola's Blog</title>
    </head>
    <body>
        <div>
            <h1>THE SUPER TITLE</h1>
        </div>

        <div>
            <p>published: date</p>
            <h2>First post</h2>
            <h4>Fusce faucibus dolor ultricies mi pulvinar, sit amet convallis ante faucibus.</h4>
        </div>

        <div>
            <p>published: date</p>
            <h2>Second post</h2>
            <h4>Duis auctor tristique lectus a aliquam. Aenean imperdiet augue varius augue posuere, non ultricies dui iaculis.</h4>
        </div>
    </body>
</html>